.content {
	margin-top: 84px;
	position: relative;
	&-text {
		position: absolute;
		z-index: -1;
		color: rgba(20, 31, 82, 0.1);
		font-size: 74px;
		font-weight: 800;
		text-transform: uppercase;
		margin-top: -78px;
	}
	&-title {
		position: absolute;
		z-index: 1;
		margin-top: -38px;
		color: #000;
		font-size: 32px;
		font-weight: 600;
		line-height: 40px; /* 125% */
	}
	&-subtext {
		color: #000;
		font-family: 'Bricolage Grotesque';
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: 24px; /* 133.333% */
	}
}
.body {
	width: 710px;
	margin-left: 240px;
	margin-top: 146px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.boder {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 4px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	&-content {
		display: flex;
		width: 400px;
		padding: 16px 12px;
		gap: 8px;
		align-self: stretch;
		& > img {
			width: 20px;
			height: 20px;
			flex-shrink: 0;
		}
		&__title {
			display: flex;
			flex-direction: column;
			gap: 4px;
			& > h3 {
				color: #000;
				font-family: 'Bricolage Grotesque';
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 20px;
			}
			& > p {
				align-self: stretch;
				color: #666;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
			}
		}
	}
}
.button {
	display: flex;
	gap: 8px;
	margin-top: 40px;
	&-content {
		display: flex;
		justify-content: center;
		align-items: center;
		outline: none;
		height: 44px;
		padding: 6px 20px;
		gap: 10px;
		position: relative;
		overflow: hidden;
		border: 1px solid #d9d9d9;
		transition: all 250ms;
		cursor: pointer;
		color: $buttonColor;
		&__text {
			text-align: center;
			font-size: 14px;
			font-weight: 400;
			position: relative;
			z-index: 10;
		}
		&__logo {
			width: 24px;
			height: 24px;
			position: relative;
			z-index: 10;
			transition: color 0.4s;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 0;
			background-color: #000;
			z-index: 1;
			-webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
			box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
			transition: all 250ms;
		}
		&:hover {
			color: $textColor;
		}
		&:hover::before {
			width: 100%;
		}
	}
}
.slider {
	background-image: url('../images/slider.png');
	margin-top: 100px;
	padding: 100px 240px;
	&-content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 40px;
		&__title {
			color: #fff;
			font-family: 'Bricolage Grotesque';
			font-size: 32px;
			font-style: normal;
			font-weight: 600;
			line-height: 40px; /* 125% */
			width: 100%;
		}
		&__desc {
			color: #fff;
			font-family: 'Bricolage Grotesque';
			font-size: 18px;
			font-style: normal;
			font-weight: 300;
			line-height: 24px; /* 133.333% */
			width: 100%;
		}
	}
}
.carousel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	gap: 8px;
	& > img {
		object-fit: cover;
		&:first-child {
			margin-left: 0;
		}
	}
}
.offers {
	padding: 100px 240px;
	&-box {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 4px;
		&__subtitle {
			color: #4d4d4d;
			font-family: 'Bricolage Grotesque';
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;
		}
		&__title {
			color: #000;
			font-family: 'Bricolage Grotesque';
			font-size: 32px;
			font-style: normal;
			font-weight: 600;
			line-height: 40px; /* 125% */
		}
	}
	&-items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
		gap: 12px;
		margin-top: 40px;
		gap: 12px;
		&__box {
			cursor: pointer;
			display: flex;
			padding: 20px 40px;
			flex-direction: column;
			align-items: center;
			gap: 16px;
			align-self: stretch;
			border: 1px solid #d9d9d9;
			& > h3 {
				color: #000;
				text-align: center;
				font-family: 'Bricolage Grotesque';
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: 28px; /* 140% */
				align-self: stretch;
			}
			&:hover {
				transform: scale(1.05);
			}
		}
	}
	&-data {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 12px;
		margin-top: 40px;
		&__box {
			cursor: pointer;
			display: flex;
			padding: 20px 40px;
			flex-direction: column;
			align-items: center;
			gap: 4px;
			flex: 1 0 0;
			align-self: stretch;
			border: 1px solid #d9d9d9;
			& > h1 {
				color: #000;
				text-align: center;
				font-size: 24px;
				font-weight: 600;
			}
			& > p {
				color: #666;
				text-align: center;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
				text-transform: uppercase;
			}
			&:hover {
				transform: scale(1.05);
			}
		}
	}
}
.conclusion {
	display: flex;
	padding: 100px 240px;
	align-self: stretch;
	background: #f1f3f8;
	&-left {
		width: 100%;
		&__desc {
			color: #4d4d4d;
			font-family: 'Bricolage Grotesque';
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;
		}
		& > img {
			margin-top: 32px;
		}
	}
	&-right {
		display: flex;
		flex-direction: column;
		width: 100%;
		& > p {
			color: #000;
			font-family: 'Bricolage Grotesque';
			font-size: 18px;
			font-style: normal;
			font-weight: 300;
			line-height: 24px; /* 133.333% */
			align-self: stretch;
		}
	}
}
.form {
	width: 100%;
	padding: 80px 240px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 36%, rgba(0, 0, 0, 0) 100%),
		url('../images/background.png');
	object-fit: cover;
	height: 680px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 40px;
	color: #fff;
	&-left {
		width: 682px;
		padding-top: 272px;
		&__content {
			font-size: 63px;
			font-weight: 700;
			line-height: 72px; /* 114.286% */
			text-transform: uppercase;
		}
		&__title {
			font-size: 49px;
			font-weight: 300;
			line-height: 56px; /* 114.286% */
			text-transform: uppercase;
		}
	}
	&-right {
		display: flex;
		width: 600px;
		height: 520px;
		padding: 80px;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		flex-shrink: 0;
		background: #fff;
		&__text {
			color: #000;
			font-size: 24px;
			font-weight: 600;
			line-height: 40px;
		}
		& > input {
			display: flex;
			padding: 12px 0px;
			justify-content: center;
			align-items: center;
			gap: 20px;
			border-bottom: 1px solid #d9d9d9;
			width: 100%;
		}
		&__input {
			display: flex;
			gap: 10px;
			width: 100%;
			& > input {
				display: flex;
				padding: 12px 0px;
				justify-content: center;
				align-items: center;
				gap: 20px;
				flex: 1 0 0;
				border-bottom: 1px solid #d9d9d9;
			}
		}
	}
}
.boder1 {
	margin-top: 40px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	&-content {
		display: flex;
		padding: 16px 12px;
		gap: 8px;
		align-self: stretch;
		& > img {
			width: 20px;
			height: 20px;
			flex-shrink: 0;
		}
		&__title {
			display: flex;
			flex-direction: column;
			gap: 4px;
			width: 100%;
			& > h3 {
				color: #fff;
				font-family: 'Bricolage Grotesque';
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 20px;
			}
			& > p {
				align-self: stretch;
				color: #b3b3b3;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
			}
		}
	}
}
.button-submit {
	display: flex;
	height: 44px;
	padding: 6px 12px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	background: #000;
	width: 170px;
	color: #fff;
}
.logo {
	width: 200px;
}
